
api_ip = 0.0.0.0
api_port = 8000
api_root = ""
video_tasks_count = 2
img_tasks_count = 3
enable_database_router = True
enable_editor_router = True
enable_edit_router = True
enable_edit_db_router = True
buf_path = "buf"

database_ip = 127.0.0.1
database_port = 3306
database_user = root
database_password = ""
database_name = database
database_print_SQL_queries = True

log_level = INFO
log_file = app.log
log_to_file = True
log_to_console = True
log_format = %(asctime)s [%(levelname)s] %(name)s: %(message)s