Screen {
    width: 100%;
    layout: horizontal;
}

Button {
    margin: 0 1;
}

YesOrNo {
    align: center middle;
}

YesOrNo > Container {
    width: auto;
    height: auto;
    align: center middle;
    padding: 1 2;
    background: $panel;
}

YesOrNo > Container > Label {
    width: 100%;
    content-align-horizontal: center;
}

YesOrNo > Container > Horizontal {
    height: auto;
    width: auto;
}

YesOrNo > Container > Horizontal > Button {
    margin: 1 2;
}


InputYesOrNo {
    align: center middle;
}

InputYesOrNo > Container {
    width: auto;
    height: auto;
    align: center middle;
    padding: 1 2;
    background: $panel;
}

InputYesOrNo > Container > Input {
    width: 100%;
    content-align-horizontal: center;
}

InputYesOrNo > Container > Horizontal {
    height: auto;
    width: auto;
}

InputYesOrNo > Container > Horizontal > Button {
    margin: 1 2;
}


HorizontalScroll {
    height: auto;
}

.static_selected {
    width: 80%;
    height: 100%;
    content-align: left middle;
}


.create_save_dir{
    min-width: 2;
    width: 4;
    height: 2;
    background: yellow
}

.create_save_dir:focus{
    background: yellow 30%;
}

.delete_button{
    min-width: 2;
    width: 4;
    height: 2;
    background: red;
}

.delete_button:focus{
    background: red 30%;
}

#save_dir {
    width: 100%;
    height: 100%;
    content-align: left middle;
}

.save_dir_div{
    layout: horizontal;
    width: 100%;
    height: 4;
    margin: 1;
    padding: 0;
    background: green 80%;
    color: white 90%;
    border: heavy white;
}

.selected_div{
    layout: horizontal;
    width: 100%;
    height: 4;
    margin: 1;
    padding: 0;
    background: green;
    color: white 90%;
    border: heavy white;
}
